{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "paths": [{
        "rootPathPrefix": "@",
        "rootPathSuffix": "components"
      }]
    }]
  ]
}